apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: studentmarkservice-ns
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: 'studentmarkservice'
        static_configs:
          - targets: ['studentmarkservice-service.studentmarkservice-ns.svc.cluster.local:8100']
        metrics_path: '/actuator/prometheus'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: studentmarkservice-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: studentmarkservice-ns
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30091
  selector:
    app: prometheus
